{:meta
 {:case-name nil,
  :schema-version "1.0",
  :seed 52,
  :test-name prepare-user-for-creation,
  :test-ns wagoe.search.schema},
 :result
 {:active true,
  :created-at "2025-01-01T00:00:00Z",
  :deleted-at nil,
  :email "test@example.com",
  :id #uuid "00000000-0000-0000-0000-000000000002",
  :name "Test User",
  :role :user,
  :updated-at nil}}
