{:audiences
 {:label       "Audiences"
  :table-name  :audience_segments
  :list-fields [:label :filter-count :member-count :cached-at :created-at]
  :search-fields [:label :description]
  :readonly-fields #{:id :filter-count :member-count :cached-at :created-at :updated-at}
  :fields
  {:label        {:type :string  :label [:t :admin.audiences/field-label]        :filterable true}
   :filter-count {:type :integer :label [:t :admin.audiences/field-filter-count] :filterable false}
   :member-count {:type :integer :label [:t :admin.audiences/field-member-count] :filterable true}
   :cached-at    {:type :instant :label [:t :admin.audiences/field-cached-at]    :filterable true}
   :created-at   {:type :instant :label [:t :admin.audiences/field-created-at]   :filterable true}}
  :create-redirect-url "/web/audiences/builder"}}
