#kaocha/v1
 {:tests [{:id          :unit
           :test-paths  ["test"]
           :source-paths ["src"]
           :ns-patterns ["wagoe.mcp.*-test"]}]
  :plugins [:kaocha.plugin/filter]
  :kaocha.plugin.filter/focus-meta [:unit]
  :kaocha/fail-fast? false
  :kaocha/color? true}
