{;; {{project-name}} — test configuration
 :active
 {  :boundary/settings
    {:name             "{{project-name}}-test"
     :version          "0.1.0"
     :date-format      "yyyy-MM-dd"
     :date-time-format "yyyy-MM-dd HH:mm:ss"
     :features         {}}

   :boundary/h2
   {:memory true
    :pool   {:minimum-idle 1 :maximum-pool-size 5}}

   :boundary/logging
   {:level :warn :console true}}

 :inactive
 {}}
