{:paths ["src" "resources"]

 :deps  {org.clojure/clojure {:mvn/version "1.12.5"}
         wagoe/platform   {:local/root "../platform"}
         wagoe/core       {:local/root "../core"}

         cheshire/cheshire   {:mvn/version "6.2.0"}}

 :aliases
 {:test      {:extra-paths ["test"]
              :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                            com.h2database/h2   {:mvn/version "2.4.240"}}
              :main-opts   ["-m" "kaocha.runner"]}

  :clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2026.04.15"}}
              :main-opts    ["-m" "clj-kondo.main"]}

  :build     {:replace-deps {io.github.clojure/tools.build {:git/tag "v0.10.13" :git/sha "3a3c177d"}
                             slipset/deps-deploy           {:mvn/version "0.2.3"}}
              :ns-default   build}}}
