;; config.edn - Development configuration for {{project-name}}
{:wagoe/app
 {:name "{{project-name}}"
  :version "0.1.0"
  :env :development}

 :wagoe/db-context
 {:datasource
  {:jdbcUrl "jdbc:sqlite:dev-database.db"
   :driverClassName "org.sqlite.JDBC"
   :maximumPoolSize 5
   :connectionTimeout 30000}}

 :wagoe/http-server
 {:port 3000
  :host "0.0.0.0"
  :handler #ig/ref :wagoe/handler}

 :wagoe/handler
 {:routes [["/health" {:get {:handler (fn [_] {:status 200 :body {:status "ok"}})}}]
           ["/" {:get {:handler (fn [_] {:status 200 :body "{{project-name}} is running"})}}]]}}
